# test requirements
pytest==6.2.1
pytest-openfiles==0.5.0
coverage==5.3
# if a cython bundle needs to be built
Cython==0.29.21
# docs requirements
sphinx==3.5.1
git+https://github.com/readthedocs/sphinx_rtd_theme@master
